<div class="had-container">
    <div class="parallax-container tablaMain">
        <div class="parallax"><img
                src="https://alistapart.com/wp-content/uploads/2016/01/fig-6-background-blend-mode.jpg"></div>
        <div class="row">
            <div class="col m4 s8 offset-m4 offset-s2 center">
                <div class="card-panel center teal">
                    <span class="white-text">
                        Bienvenido! {{usuario.nombres}} {{usuario.apellidos}}
                    </span>
                </div>
            </div>
        </div>
        {{#ifeq usuario.rol.nombre '===' 'Administrador'}}
        <div class="row">
            <div class="col xl12 l12 m12 s12">
                <div class="card-panel center promo blue-grey darken-3 white-text">
                    <p class="promo-caption">Usuarios registrados actualmente</p>
                    {{#if usuarios}}
                    <table class="bordered centered responsive-table">
                        <thead>
                            <tr>
                                <th>DNI</th>
                                <th>Nombres</th>
                                <th>Apellidos</th>
                                <th>Email</th>
                                <th>Rol</th>
                                <th>Aplicación</th>
                                <th>Estado inscripción audio</th>
                                <th>Foto</th>
                            </tr>
                        </thead>
                        <tbody>
                            {{#each usuarios}}
                            <tr>
                                <td>{{dni}}</td>
                                <td>{{nombres}}</td>
                                <td>{{apellidos}}</td>
                                <td>{{email}}</td>
                                <td>{{rol.nombre}}</td>
                                <td>{{aplicacion.nombre}}</td>
                                <td>{{#if entrenado}}
                                    Entrenado
                                    {{else}}
                                    {{#if ../usuario.aplicacion}}
                                    <button id="btnEntrenarAudio" class="waves-effect waves-light light-blue btn"
                                        onclick="enviar({{id}});">Entrenar</button>
                                    {{else}}
                                    Sin Entrenar
                                    {{/if}}
                                    {{/if}}
                                </td>
                                <td><img class="circle responsive-img" src="{{url_foto_rostro}}"
                                        alt="Foto de {{nombres}} {{apellidos}}" width="100" height="100"></td>
                            </tr>
                            {{/each}}
                        </tbody>
                    </table>
                    {{else}}
                    <p>Sin datos de usuarios.</p>
                    {{/if}}
                </div>
            </div>
        </div>
        {{else}}
        <div class="row">
            <div class="col xl12 l12 m12 s12">
                <p>Usuario normal!</p>
            </div>
        </div>
        {{/ifeq}}
    </div>
</div>